
<h1 class="title">
  <%= @patient.first_name%> <%= @patient.last_name%>
</h1>

<div class="row">
  <div class="col-md-6 summary">
    <h2>Summary</h2>
    <p><strong>Gender:</strong> <%= @patient.gender %></p>
    <p><strong>Marital Status:</strong> <%= @patient.marital_status %></p>
    <p><strong>Blood Type:</strong> <%= @patient.blood_type %></p>
  </div>
  <div class="col-md-6 appointments">
    <h2>Appointments</h2>
    <ul class="list-unstyled">
      <% @patient.appointments.each do |appointment| %>
        <% doctor = Doctor.find_by(id: appointment.doctor_id) %>
        <li>Dr. <%= appointment.doctor.last_name %> for <%= appointment.test.name %> on <%= appointment.date %> at <%= appointment.time.to_formatted_s(:time) %> <%= link_to "Update", edit_appointment_url(appointment), class: 'btn btn-sm btn-primary' %> <%= link_to "Delete", appointment_url(appointment), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: 'Seriously?'} %>
        <br><br>
        </li>
    <% end %>

<br>
<%= link_to "Book a New Appointment", new_appointment_path, class: 'btn btn-sm btn-success' %>

    </ul>
  </div>
</div>


