<h3 class="page-header">
  All Doctors
  <span class="pull-right">
  	<%= link_to "New Doctor", new_doctor_path, class: 'btn btn-sm btn-success' %>
  </span>
</h3>

<div class="row">
	<% @doctors.each do |doctor| %>
		<div class="col-sm-6">
			<div class="thumbnail">
			<a href="/doctors/<%= doctor.id%>"><b><%= doctor.last_name %></b></a>
				<div class="caption">
				<p><%= doctor.specialty %></p>
				</div>
					<%= link_to "Edit", edit_doctor_url(doctor), class: 'btn-sm btn-danger' %>
					<%= link_to "Delete", doctor_url(doctor), method: :delete, class: 'btn-sm btn-danger', data: {confirm: 'Seriously?'} %>
			</div>
		</div>
	<% end %>
</div>





