
<h1 class="title">
  Dr. <%= @doctor.first_name%> <%= @doctor.last_name%>
</h1>

<div class="row">
  <div class="col-md-6 summary">
    <h2>Summary</h2>
    <p><strong>Specialty:</strong> <%= @doctor.specialty %></p>
    <p><strong>Education:</strong> <%= @doctor.education %></p>
    <p><strong>Accepting New Patients:</strong> <%= @doctor.new_patients %></p>
  </div>
  <div class="col-md-6 appointments">
    <%= link_to "Book an Appointment", new_appointment_path, class: 'btn btn-sm btn-success' %>
  </div>
</div>