
<h1 class="title">
  Dr. <%= @doctor.first_name%> <%= @doctor.last_name%>
</h1>

<div class="row">
  <div class="col-md-6 summary">
    <h2>Summary</h2>
    <p><strong>Specialty:</strong> <%= @doctor.specialty %></p>
    <p><strong>Accepting New Patients:</strong> <%= @doctor.new_patients %></p>
  </div>
  <div class="col-md-6 appointments">
    <h2>Appointments</h2>
    <ul class="list-unstyled">
      <% @doctor.appointments.each do |appointment| %>
        <% patient = Patient.find_by(id: appointment.patient_id) %>
        <li><%= appointment.patient.first_name %> <%= appointment.patient.last_name %> for <%= appointment.test.name %></li>
      <% end %>
    </ul>
  </div>
</div>